.inputGorny {
  width: 25%;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  padding: 12px 20px;
  box-sizing: border-box;
  resize: none;
  text-align: center;
  margin-top: 250px;
  margin-bottom: 10px;
}
.input1 {
  width: 25%;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  padding: 12px 20px;
  box-sizing: border-box;
  resize: none;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
textarea:focus,
input:focus {
  outline: 2.5px solid black;
}

.button1 {
  background-color: f8f8f8;
  border: 2px solid black;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
}
